.blog-form-wrapper {
  @include base-grid();
  grid-template-columns: 1fr;
  padding: 42px;

  @include input-element();
  input {
    margin-bottom: 0px;
  }

  .btn {
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    margin-top: 20px;
  }

  .ReactModal__Content::-webkit-scrollbar {
    width: 7px;
  }

  .ReactModal__Content::-webkit-scrollbar-thumb {
    background-color: $teal;
    border-radius: 3px;
    height: 2px;
  }

  .image-uploaders {
    @include base-grid();
    grid-template-columns: 200px;
  }
  
  
}
