body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: $teal;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: $dark-teal;
  border-radius: 6px;
}